<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58645764182-qtoouscghtmg0q5df15kgr7r5l7p8ckl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58645764182-qtoouscghtmg0q5df15kgr7r5l7p8ckl</string>
	<key>API_KEY</key>
	<string>AIzaSyD_naf7_Ki1ixe054OQXE55u7G7W3DS00o</string>
	<key>GCM_SENDER_ID</key>
	<string>58645764182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mapboxNavigation</string>
	<key>PROJECT_ID</key>
	<string>flutter-project-nuenta</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-project-nuenta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58645764182:ios:2a5b8fec0e8911bac9c3f7</string>
</dict>
</plist>